html, body {
	background-color: #c1272f;
    font-family: Segoe UI, Roboto, 'Lucida Grande', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

h3 {
	border-bottom: 5px solid #c1272f;
	margin-top: 0px;
}

h4 {
	border-bottom: 3px solid #c1272f;
	margin: 0px;
}

h5 {
	font-size: 16px;
	margin: 0px;
}

table {
	border-collapse: collapse;
}

table.tablelist {
	background-color: white;
	border: 5px solid #c1272f;
	text-align: center;
	width: 100%;
}

table.tablelist th {
	background-color: #c1272f;
	color: white;
}

#container {
	background-color: #f3c108;
}

#left {
	background-color: #f3c108;
	border-right: 5px solid #c1272f;
	float: left;
	width: 20%;
}

#logo {
	background-color: white;
	border-bottom: 5px solid #c1272f;
	padding: 20px 25px;
	text-align: center;
	font-size: 12px;
}

#navigation {
	padding: 20px 25px;
	padding-bottom: 5px;
	text-align: center;
}

#navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navigation li {
	background: #c1272f;
	border: 0px solid #f3c108;
	border-radius: 10px;
	padding: 8px;
	margin-bottom: 15px;
}

#navigation a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:hover {
	color: #f3c108;
}

#right {
	border-left: 5px solid #c1272f;
	margin-left: 20%;
	padding: 20px 25px;
	text-align: justify;
}

#footer {
	background-color: #c1272f;
	clear: both;
	height: 67px;
	vertical-align: center;
}

#footer p {
	margin: 0px;
}

#footerleft {
	color: white;
	float: left;
	font-size: 10pt;
	padding-left: 25px;
	padding-top: 15px;
}

#footerright {
	float: right;
}

#supervisornav {
	padding-bottom: 20px;
	text-align: center;
}

#supervisornav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#supervisornav li {
	background: #c1272f;
	border: 0px solid #f3c108;
	border-radius: 10px;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 20px;
}

#supervisornav a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#supervisornav a:hover {
	color: #f3c108;
}

.button {
	background: -moz-linear-gradient(center top, #c1272f 5%, #c1272f 100%);
	background: -ms-linear-gradient(top, #c1272f 5%, #c1272f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c1272f), color-stop(100%, #c1272f));
	background-color: #c1272f;
	border: 1px solid #c1272f;
	border-radius: 5px;
	color: white;
	display: inline-block;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1272f', endColorstr='#c1272f');
	font-family: 'Segoe UI', Roboto, 'Lucida Grande', Arial, sans-serif;
	font-size: 16px;
	padding: 15px 35px;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.button:hover {
	background: -moz-linear-gradient(center top, #f3c108 5%, #f3c108 100%);
	background: -ms-linear-gradient(top, #f3c108 5%, #f3c108 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f3c108), color-stop(100%, #f3c108));
	background-color: #f3c108;
	border: 1px solid #f3c108;
	color: black;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f3c108', endColorstr='#f3c108');
}

.button:active {
	position: relative;
	top: 1px;
}

.error {
	color: #c1272f;
	font-weight: bold;
}

.textbox {
    border: 0px solid black;
    border-radius: 5px;
	font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
	font-size: 14pt;
    height: 40px;
    outline: 0px; 
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
    width: 275px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
}

.textboxform {
    border: 1px solid black;
    border-radius: 5px;
	font-family: Verdana, Roboto, 'Lucida Grande', Arial, sans-serif;
	font-size: 12pt;
    height: 40px;
    outline: 0px; 
    padding-left: 10px;
    padding-right: 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
}

.box {
	background-color: white;
	border: 5px solid #c1272f;
	text-align: center;
	width: 100%;
}

.box h1 {
	font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
}

.form {
	background-color: white;
	border: 5px solid #c1272f;
	padding: 10px 60px;
}

.formtable {
	width: 100%
}

.smalltext {
	font-size: 11px;
}

#errorbox {
	background-color: #c1272f;
    border-radius: 5px;
	color: white;
	font-size: 12px;
	padding: 8px;
}

#logobox {
	background-color: white;
    border-radius: 5px;
	padding: 10px;
	margin: 0px 80px;
}

#loginbox {
	background-color: #f3c108;
    border-radius: 5px;
	color: black;
	padding: 20px;
	text-align: justify;
}

#loginbox p {
	padding: 0px;
	margin: 0px;
}

#loginform {
	color: white;
	margin: 3% auto;
	text-align: center;
	width: 360px;
}

.loginbutton {
	background: -moz-linear-gradient(center top, #c1272f 5%, #c1272f 100%);
	background: -ms-linear-gradient(top, #c1272f 5%, #c1272f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c1272f), color-stop(100%, #c1272f));
	background-color: #c1272f;
	border: 1px solid #c1272f;
	border-radius: 5px;
	color: white;
	display: inline-block;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1272f', endColorstr='#c1272f');
	font-family: 'Segoe UI', Roboto, 'Lucida Grande', Arial, sans-serif;
	font-size: 16px;
	padding: 8px;
	text-decoration: none;
	width: 320px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.loginbutton:active {
	position: relative;
	top: 1px;
}

.loginbutton:hover {
	background: -moz-linear-gradient(center top, white 5%, white 100%);
	background: -ms-linear-gradient(top, white 5%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, white), color-stop(100%, white));
	background-color: white;
	border: 1px solid white;
	color: black;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f3c108', endColorstr='#f3c108');
}

.logintextbox {
    border: 0px solid black;
    border-radius: 5px;
	font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
	font-size: 14pt;
    height: 40px;
    outline: 0px; 
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
    width: 300px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
}